
<router-outlet />

<!-- <button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button> -->

<!-- <button (click)="increment()" class="bg-bgAmarillo p-2 rounded-xl">Increment</button>

@if(bookList$ | async; as data){
    <p>
        {{data | json}}
    </p>
}

<hr>


<button (click)="decrement()" class="bg-bgAmarillo p-2 rounded-xl">Increment</button>

<button (click)="reset()" class="bg-bgAmarillo p-2 rounded-xl">Increment</button> -->