<footer class="bg-slate-800 text-white p-8 sm:p-12 md:p-16 lg:p-20 xl:p-28" [style]="{ 'background-color': '#FFD700'}">
    <div class="flex flex-wrap justify-between ">
        <div class="w-full sm:w-1/2 lg:w-1/4 xl:w-1/4 ">
            <h1 class="text-xl font-bold">Sobre Bradion</h1>
            <p>¿Quiénes somos?</p>
            <p>Nuestra Bradion</p>
            <p>Catálogo Bradion</p>
            <p>Catálogo Bradion</p>
            <p>Catálogo Bradion</p>
        </div>
    
        <div class="w-full sm:w-1/2 lg:w-1/4 xl:w-1/4 mt-4 sm:mt-0">
            <h1  class="text-xl font-bold">Contactanos</h1>
            <p>Calle Vulcano 000 Ate, Lima-Peru</p>
            <p>atencionalclienteexample.com.pe</p>
            <p>01 074024002</p>
            <p>Lunes a Sábado de 9am - 8pm</p>
        </div>
    
        <div class="w-full sm:w-1/2 lg:w-1/4 xl:w-1/4 mt-4 sm:mt-0">
            <h1 class="text-xl font-bold">MEDIOS DE PAGO</h1>
            <div class="flex flex-wrap">
                <div class="h-7 m-3">
                    <img src="../../../assets/medios de pago/americanMethodFooter.png" alt="" class="h-full">
                </div>
                <div class="h-7 m-3">
                    <img src="../../../assets/medios de pago/dinnersMethodFooter.png" alt="" class="h-full">
                </div>
                <div class="h-7 m-3">
                    <img src="../../../assets/medios de pago/mastercardMethodFooter.png" alt="" class="h-full">
                </div>
                <div class="h-7 m-3">
                    <img src="../../../assets/medios de pago/pagoEfectivoMethodFooter.png" alt="" class="h-full">
                </div>
                <div class="h-7 m-3">
                    <img src="../../../assets/medios de pago/visaMethodFooter.png" alt="" class="h-full">
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-8">
    <p class="text-center mt-8">©2023 copyright Bradion</p>
</footer>

